@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

* {
  font-family: "outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* Explicit dark mode support */
html.dark {
  color-scheme: dark;
}

html {
  color-scheme: light;
}
